@media (max-width: 900px) {
    .testimonialStatement {
        width: 75% !important;
    }
    .teamCardHeight {
        max-height: 500px !important;
        min-height: 450px !important;
    }
    .company-card-size {
        width: 90px !important;
        height: 90px !important;
    }
    .company-grid-margin {
        margin: 5vw !important;
    }
    .footer-small-remove {
        display: none !important;
    }
    .footer-left-flex-column {
        flex-direction: column !important;
    }
    .footer-right-flex-column {
        min-width: 40% !important;
    }
}

@media (max-width: 500px) {
    .testimonialStatement {
        margin-top: 20px !important;
        width: 100% !important;
    }
    .testimonialContent {
        display: flex;
        flex-direction: column;
    }
    .teamCardHeight {
        max-height: 430px !important;
        min-height: 370px !important;
    }
}

.company-logo-color {
    /* filter: contrast(0%); */
    filter: grayscale(100%);
    transition: border 0.3s ease-in-out, filter 0.3s ease-in-out;
}
  
.company-logo-color:hover {
    filter: grayscale(0);
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.footer-link {
    transition: border 0.3 ease-in-out;
}

.footer-link:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* This pseudo element used to fill in extra space below the footer ensuring no ugly final scroll behavior*/
.footer::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: -498px;
    /* offset: -500px; */
    height: 500px;
    width: 100%;
    background-color: #FFF5DC;
    z-index: 20;
    /* offset: -100px; */
}