@media (max-width: 900px) {
    .testimonialStatement {
        width: 75% !important;
    }
    .teamCardHeight {
        max-height: 500px !important;
        min-height: 450px !important;
    }
}

@media (max-width: 500px) {
    .testimonialStatement {
        margin-top: 20px !important;
        width: 100% !important;
    }
    .testimonialContent {
        display: flex;
        flex-direction: column;
    }
    .teamCardHeight {
        max-height: 430px !important;
        min-height: 370px !important;
    }
}