/* Most styles are defined inline, this sheet is for CSS that must be in a stylesheet */

.headerWidth {
    width: clamp(500px, 70%, 1600px);
}

@media screen and (max-width: 600px) {
    .headerWidth {
        width: 100%;
    }
}
  
h1, h2, h3, h4, h5, h6 {
    color: #1E1E1E;
    font-family: var(--font-baskerville), Times New Roman, Times, serif;
}
  