/* Most styles are defined inline, this sheet is for CSS that must be in a stylesheet */

.headerWidth {
    width: clamp(500px, 70%, 1600px);
}

@media screen and (max-width: 600px) {
    .headerWidth {
        width: 100%;
    }
}
  
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1%;
    color: #1E1E1E;
    font-family: var(--font-baskerville), Times New Roman, Times, serif;
}

h1 {
    font-size: clamp(36px, 8vw, 61px);
    /* line-height: clamp(54px, 8vw, 90px); */
}

h2 {
    font-size: clamp(28px, 6vw, 48.8px);
    /* line-height: clamp(84px, 8vw, 137px); */
}

h3 {
    font-size: clamp(30px, 5vw, 39.1px);
    /* line-height: clamp(66px, 8vw, 144px); */
}

h4 {
    font-size: clamp(18px, 4vw, 31.3px);
    /* line-height: clamp(54px, 8vw, 151px); */
}

h5 {
    font-size: clamp(15px, 3.5vw, 25px);
    /* line-height: clamp(45px, 8vw, 158px); */
}

h6 {
    font-size: clamp(12px, 3vw, 20px);
    /* line-height: clamp(36px, 8vw, 165px); */
}
  